// 标准色
$color-main = #FF533C
$color-cut-line-ff16 = rgba(255, 255, 255, 0.16)
$color-cut-line-ed = #EDEDED
$color-background-ff = #FFFFFF
$color-background-f0 = #F0F0F0
$color-background-f6 = #F6F7F9
$color-text-31 = #313131
$color-text-86 = #868686
$color-text-b1 = #B1B1B1
$color-text-d4 = #D4D4D4
$color-assist-ff7 = #ff7328
$color-assist-ff4 = #ff482d
$color-assist-e79 = #E79300
$color-assist-fff = #FFFBF4

// 颜色定义规范

// 横线色值
$color-row-line-f0 = #F0F0F0
$color-col-line-f0 = #F0F0F0
// 竖线色值

// 遮罩
$color-mask-bgc = rgba(54, 53, 71, .5)
// 字体
$font-family-din = 'DIN Alternate'
$font-family-regular = 'PingFangSC-Regular'
$font-family-light = 'PingFangSC-Light'
$font-family-meddle = 'PingFangSC-Medium'
$font-family-bold = 'PingFangSC-Semibold'
$font-family-impact = 'Impact'
$font-family-thin = 'PingFangSC-Thin'

// 字体定义规范
$font-size-small-ss = 9px
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-m = 20px
$font-size-large-x = 22px
$font-size-large-xx = 24px
$font-size-shop = 30px
$font-size-shop-x = 44px
